{% extends "base.html" %}
{% block content %}



<div class="container">
    <div class="row container-style mg-top text-center">
        <div class="col-12 pb-5">
            <h1>Welcome</h1>
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-2 pb-5">
                    <a href="/login/" class="btn button btn-dark">Login</a>
                </div>
                <div class="col-xs-12 col-md-2 pb-5">
                    <h2>OR</h2>
                </div>
                <div class="col-xs-12 col-md-2 pb-5">
                    <a href="/signup/" class="btn button btn-dark">signup</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}